<!-- registro.ejs -->
<body class="bg-gray-100 mt-10 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
        <h2 class="text-2xl font-bold text-center text-gray-700 mb-6">Registro de Usuário</h2>
        <div>
            <!-- Nome -->
            <div class="mb-4">
                <label for="nome" class="w-full flex text-gray-600 items-start">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            
            <!-- CPF ou CNPJ -->
            <div class="mb-4">
                <label class="text-gray-600">Tipo de Documento</label>
                <div class="flex items-center gap-2">
                    <input type="radio" id="cpf" name="documento" value="cpf" class="focus:ring-blue-500" checked>
                    <label for="cpf" class="text-gray-600">CPF</label>
                    <input type="radio" id="cnpj" name="documento" value="cnpj" class="focus:ring-blue-500">
                    <label for="cnpj" class="text-gray-600">CNPJ</label>
                </div>
                <input type="text" id="documento" name="documento" placeholder="Digite CPF ou CNPJ" class="w-full mt-2 px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <!-- RG -->
            <div class="mb-4">
                <label for="rg" class="w-full flex text-gray-600 items-start">RG</label>
                <input type="text" id="rg" name="rg" placeholder="Digite seu RG" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <!-- Data de Nascimento -->
            <div class="mb-4">
                <label for="dataNascimento" class="w-full flex text-gray-600 items-start">Data de Nascimento</label>
                <input type="date" id="dataNascimento" name="dataNascimento" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <!-- Email -->
            <div class="mb-4">
                <label for="email" class="w-full flex text-gray-600 items-start">Email</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <!-- Endereço -->
            <div class="mb-4">
                <label for="bairro" class="w-full flex text-gray-600 items-start">Bairro</label>
                <input type="text" id="bairro" name="bairro" placeholder="Digite seu bairro" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <div class="mb-4">
                <label for="rua" class="w-full flex text-gray-600 items-start">Rua</label>
                <input type="text" id="rua" name="rua" placeholder="Digite sua rua" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <div class="mb-4">
                <label for="numero" class="w-full flex text-gray-600 items-start">Número</label>
                <input type="number" id="numero" name="numero" placeholder="Digite o número" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <!-- Inscrição Estadual (apenas para CNPJ) -->
            <div class="mb-4" id="inscricaoEstadualDiv" style="display: none;">
                <label for="inscricaoEstadual" class="w-full flex text-gray-600 items-start">Inscrição Estadual</label>
                <input type="text" id="inscricaoEstadual" name="inscricaoEstadual" placeholder="Digite a Inscrição Estadual" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <!-- Município -->
            <div class="mb-4">
                <label for="municipio" class="w-full flex text-gray-600 items-start">Município</label>
                <input type="text" id="municipio" name="municipio" placeholder="Digite seu município" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <!-- Campos Adicionais para ADMIN -->
            <% if (role === 'ADMIN') { %>
                <div class="mb-4">
                    <label for="role" class="w-full flex text-gray-600 items-start">Aplicação de Regars</label>
                    <select id="role" name="role" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="admin">ADMIN</option>
                        <option value="cliente">CLIENTE</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="promocao" class="w-full flex text-gray-600 items-start">Aplicação de Promoções</label>
                    <select id="promocao" name="promocao" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="promo1">Promoção 1</option>
                        <option value="promo2">Promoção 2</option>
                    </select>
                </div>
            <% } %>

            <!-- Botões -->
            <button id="registrar" type="button" class="w-full py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-300">Registrar</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.5/inputmask.min.js"></script>
    <script type="module" src="/js/operacoes/register.js"></script>
</body>
