<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet"> <!-- Estilos personalizados -->
  <link rel="stylesheet" href="/css/styleJsGrid.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsgrid/dist/jsgrid.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsgrid/dist/jsgrid-theme.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/jsgrid/dist/jsgrid.min.js"></script>
</head>
<body class="bg-gray-100 h-screen flex">
  
  <!-- Menu Lateral -->
  <%- include('./partials/MenuSideBar.ejs') %> <!-- Partial do menu -->

  <!-- Conteúdo Principal -->
  <div id="conteudo" class="flex flex-col flex-1 p-6 ml-12">
    <!-- Título Dinâmico -->
    <h1 class="text-3xl font-semibold text-center mb-8"><%= title %></h1>

    <!-- Corpo da Página -->
    <div class="flex-1 flex">
      <%- include(body) %>
    </div>
  </div>
  
  <div style="display: none;" id="window">
    <div id="gridWindow"></div>
  </div>
  <!-- JS -->
  <script src="/js/MenuSideBar.js" type="module"></script>
</body>
</html>
